html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow-y: scroll;
}

#root {
  height: 100%;
}

.App {
  background: #f1f1f1;
  height: 100%;
  padding: 24px;
}

.App-Table {
  display: flex;
  flex-direction: column;
}

.App-Row {
  display: flex;
  border-top: 1px solid #e0e0e0;
}

.App-Cell {
  flex: 1;
  padding: 10px;
}

.App-Icon {
  opacity: 0.55;
  transform: rotate(0deg);
  transition: all 500ms !important;
}

.App-Icon-Rotate {
  transform: rotate(180deg);
  transition: all 500ms !important;
}
